# files saved by Structurizr API, CLI or scripts
structurizr-*.json
structurizr-*.puml
structurizr-*.png
*.dot
*.svg

# backstage export
backstage-*.yaml

# generated documentation
docs/

# cloned repositories
clones/
